.chatContainer {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #1c2732;
  color: #EEF2E6;
  padding-top: 60px;
  /* position: relative; */
}

.copyRoomLinkDiv {
  width: clamp(20%, 95%, 600px);
  height: 55px;
  background-color: white;
  color: black;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 14px;
}

.copyRoomLinkDiv>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.copyIcon {
  width: 17px;
  margin-left: 10px;
}

.menuIcon {
  width: 23px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.redDot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  right: 37px;
  top: 20px;
  z-index: 1;
}

.closeLink {
  width: 20px;
  position: absolute;
  top: -18px;
  left: -0px;
  border: 2px solid white;
  border-radius: 4px 4px 0 0;
}

.menuContainer {
  position: fixed;
  width: 60%;
  max-width: 350px;
  height: 100%;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: #d2d2d2;
  padding: 20px;
  color: black;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.menuContainer p {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.menuContainer button {
  margin-top: auto;
  background-color: #E0144C;
  color: white;
  height: 40px;
  border: none;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
}

.membersList {
  margin: 10px;
  margin-left: 30px;
  margin-top: 30px;
}

.membersList li {
  padding: 7px 0;
}

.c-b {
  width: 27px;
  top: 17px;
}

.fullChatArea {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
  display: flex;
}

.chatArea1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 60px;
}

.chatArea2 {
  display: none;
}

/* textAreaContainer */

.textAreaContainer {
  margin-top: auto;
  background-color: #f7f9fa;
  min-height: 50px;
  display: flex;
  padding: 15px 15px;
  justify-content: unset;
  align-items: flex-end;
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* align-items: center; */
}

.uploadImageButton {
  width: 25px;
  height: 25px;
  position: relative;
}

#imageInput {
  width: 22px;
  position: absolute;
  left: 15px;
  top: 2px;
  z-index: 1;
  opacity: 0;
}

.emojiIcon,
.galleryIcon,
.sendIcon {
  width: 25px;
}

.sendIcon {
  margin-left: auto;
}

.emojiIcon {
  margin-right: 10px;
}

.galleryIcon {
  margin-left: 15px;
  position: absolute;
}

.textArea {
  min-height: 20px;
  width: calc(100% - 125px);
  resize: none;
  border-radius: 3px;
  border: none;
  background-color: #f7f9fa;
  padding: 0 5px;
  font-size: 14px;
}

.displayEmojis {
  position: absolute;
  width: clamp(200px, 90%, 800px);
  height: 500px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  border-radius: 5px;
  z-index: 2;
}
.closeEmojiDivButton{
  width: 100%;
  color: #ffffff;
  background-color: rgb(218, 0, 0);
  border: none;
  height: 40px;
  border-radius: 4px 4px 0 0;
  font-size: 18px;
  font-weight: 600;
}

/*  */
.displayChatsContainer {
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.myMessages,
.otherMessages {
  all: unset;
  word-wrap: break-word;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 10px;
  width: fit-content;
  max-width: 250px;
  min-width: 35px;
}

.myMessages {
  background-color: #106856;
  border-radius: 10px;
  margin-left: auto;
}

.displayImages_img {
  all: unset;
  max-width: 100%;
  max-height: 100%;
}

.displayVideo_Video {
  max-width: 100%;
  max-height: 400px;
}

.otherMessages {
  background-color: #363b40;
  border-radius: 10px;
  margin-right: auto;
  position: relative;
  padding-top: 15px;
}

.otherMessageSender {
  font-size: 13px;
  position: relative;
  top: -10px;
}

#videoPlayIcon {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #0000006c;
  padding: 10px;
  padding-left: 11px;
}

.unReadMeassagesDisplay {
  position: absolute;
  bottom: 70px;
  right: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  padding: 10px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
}

.unReadMeassagesDisplay>div {
  margin-bottom: 9px;
}

.downIcon {
  width: 20px;
  margin-top: 6px;
}




@media screen and (min-width:769px) {
  .displayChatsContainer {
    padding: 0 50px;
  }

  .myMessages,
  .otherMessages {
    padding: 18px;
    max-width: 300px;

  }
}

@media screen and (min-width:1200px) {
  .displayChatsContainer {
    padding: 0 100px;
  }

  .myMessages,
  .otherMessages {
    padding: 20px;
    margin-block: 10px;
    max-width: 400px;
  }

  .chatArea1 {
    width: calc(100% - 340px);
    position: relative;
  }

  .chatArea2 {
    display: flex;
    align-items: center;
  }

  .menuContainer {
    position: relative;
    height: 95%;
    margin: 0 20px;
    border-radius: 10px;
    width: 300px;
  }

  .menuIcon,
  .c-b,
  .redDot {
    display: none;
  }

  .textAreaContainer {
    border-radius: 10px 0 0 0;
    position: absolute;
  }
}

/*  */
.previewImages {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #363b40;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
}

.uploadImageLoading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #020e1aca;
  z-index: 4;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.uploadImageLoading p {
  font-size: 30px;
  margin-top: 120px;
  font-weight: 600;
}

.uploadImageLoadingLoader {
  width: 184px;
  height: 184px;
  position: relative;
}

.uploadImageLoadingLoader:before,
.uploadImageLoadingLoader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #387e38;
  transform: translate(-50%, -100%) scale(0);
  animation: push 2s infinite linear;
}

.uploadImageLoadingLoader:after {
  animation-delay: 1s;
}

@keyframes push {

  0%,
  50% {
    transform: translate(-50%, 0%) scale(1)
  }

  100% {
    transform: translate(-50%, -100%) scale(0)
  }
}


#previewBackIcon {
  width: 30px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.previewCurrentImage {
  max-width: 95%;
  height: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentImg {
  max-width: 100%;
  max-height: 100%;
}

.bottomHalfPreviewImg {
  /* background-color: red; */
  min-height: 170px;
  height: 170px;
  width: 95%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px; */
}

#imageTextDiv {
  margin-top: auto;
  display: flex;
  width: 100%;
  background-color: #dfdfdf;
  border-radius: 5px;
}

#imageTextDiv input {
  width: calc(100% - 50px);
  height: 30px;
  border: none;
  padding: 0 5px;
  background-color: transparent;
}

#imageTextDiv img {
  margin-left: 15px;
}

.previewImgThumbnailsContainer {
  height: 90px;
  /* background-color: red; */
  display: flex;
  /* gap: 10px; */
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  /* justify-content: center; */
  /* padding-inline: 40px; */
}

.thumbnailDiv {
  min-width: 65px;
  height: 80px;
  position: relative;
  margin: 5px;
}

.thumbnailImgs {
  width: 100%;
  max-width: 200px;
  height: 100%;
  border: 3px solid white;
  border-radius: 5px;
}

.removeThumbnail {
  top: -1px;
  right: -1px;
  position: absolute;
  width: 15px;
  border-radius: 50%;
  background-color: red;
}

/*  */
.imageFullView {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #363b40;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  /* padding-top: 70px; */
}

.imageFullViewImage {
  max-width: 100%;
  max-height: 100%;
}