.homeContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../Assets/Images/homeBackgroundLarge.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #EEEEEE;
  display: flex;
  flex-direction: column;
}
.questionMark{
  width: 25px;
  position: absolute;
  right: 23px;
  top: 30px;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
.questionMark:hover{
  cursor: pointer;
}
.homePopup{
  width: 130px;
  position: absolute;
  right: 20px;
  top: 55px;
  background-color: #EEEEEE;
  color: black;
  text-align: center;
  padding: 10px 5px;
  border-radius: 5px;
}
.homeContainerTop {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}



.homeopupItems{
  padding: 10px;
}
.homeopupItems:hover{
  cursor: pointer;
}

.homeContainerTop > h1 {
  margin: 20px;
  font-weight: 900;
  font-size: 20px;
  color: #010c1c;
  border-radius: 50%;
  background-color: white;
  width: 45px;
  min-height: 45px;
  display: grid;
  place-items: center;
}
.homeContainerTopText{
  margin: auto;
  padding: 20px;
  text-align: center;
  text-shadow: 5px 5px 10px #886cd5;
}
.homeContainerTopText h1{
  font-size: 80px;
}
.homeContainerTopText h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.homeContainerTopText p{
  font-size: 17px;
  /* text-align: left; */
  color: #e9e9e9;
}

.homeContainerBottom {
  height: 50%;
  background-image: url("../../Assets/Images/miniBackgroundSmall1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35%;
}

.homeButtonDiv {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.homeButtons {
  padding: 20px 10px;
  width: 40%;
  max-width: 400px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  background: #1d3557;
  color: #ffffff;
  font-size: 17px;
  box-shadow: 0px 5px #1d3557c2;
}
.homeButtons:hover{
  transform: translateY(5px);
  transition: all 0.2s;
  box-shadow: 0px 0px #1d3557c2;
  background: #253f64;
}




@media screen and (min-width: 480px) {
  .homeContainerBottom {
    background-image: url("../../Assets/Images/miniBackgroundMediumLarge.svg");
  }
  .homeContainerTopText h1{
    font-size: 7em;
  }
  .homeContainerTopText h2{
    font-size: 3.5em;
    margin-bottom: 20px;
  }
  .homeContainerTopText p{
    font-size: 22px;
    color: #c7c7c7;
  }
  .homeButtons {
    font-size: 20px;
  }


}

@media screen and (min-width: 769px) {
  .homeContainerTop {
    height: 55%;
    width: 100%;
  }

  .homeContainerBottom {
    height: 45%;
    background-image: url("../../Assets/Images/miniBackgroundLarge1.svg");
    padding-top: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .homeContainer {
    background-image: url("../../Assets/Images/homeBackgroundLarge.png");
  }

  .homeContainerTop {
    height: 55%;
    width: 100%;
  }

  .homeContainerBottom {
    height: 45%;
    background-image: url("../../Assets/Images/miniBackgroundLarge1.svg");
    padding-top: 13%;
  }

  .homeButtons {
    padding: 20px 50px;
  }
}