.instructionsContainer{
  height: 100%;
  background-color: #f4ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructionsContainer header{
  display: flex;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
  background-color: #d4ffff;
}
.backArrow{
  width: 28px;
  margin-right: 30px;
}
.instructionsContainer section{
  width: 100%;
  max-width: 1024px;
  padding: 30px;
}
.instructionsContainer section h3{
  text-decoration: underline;
}
.pointsList{
  margin-top: 20px;
  padding: 0 5px;
}
.pointsList li{
  margin: 25px 0;
}
